@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col table-bordered">
        <h4>HELP</h4>
        <p>
            Search any movies and rate it on a scale of 1 to 5.
        </p>
        <p>
            It can be one of your favourite movies you hope other people to watch, or one of those movies you don't want others to waste their time.
        </p>
        <p>
            The score reflects your feelings about the movie and you can vote with a range of different appreciations.
        </p>
        <p>
            5: The movie was utterly awesome!
        </p>
        <p>
            3: Not bad (but not great either)
        </p>
        <p>
            1: I did not like it ("Ugh...can we please watch something else?")
        </p>
        <p>
            The ratings are purely subjective.
        </p>
        <p>
            Rate a movie and share your feelings!
        </p>
    </div>
</div>