<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie Rating Web App</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/movie-rating.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/movie-rating.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="mrwa-header">
    <nav class="navbar navbar-inverse mrwa-header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">MovieRatingWebApp</a>
        </div>
        <div class="navbar-collapse collapse">
            @await Html.PartialAsync("_LoginPartial")
        </div>

    </nav>

    <nav class="navbar navbar-inverse nav mrwa-header">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="MoviePreview"
                           aria-haspopup="true" aria-expanded="false" role="button" asp-controller="Movies" asp-action="Index">
                            Movies
                        </a>
                        <div class="dropdown-menu" aria-labelledby="MoviePreview">
                            <p><a class="dropdown-item nav-link" asp-controller="Movies" asp-action="Create">Add Movie</a></p>
                            <p><a class="dropdown-item nav-link" asp-controller="MovieActors" asp-action="Create">Add Movie Actors</a></p>
                            <p><a class="dropdown-item nav-link" asp-controller="Movies" asp-action="Index">List Movies</a></p>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="GenrePreview"
                           aria-haspopup="true" aria-expanded="false" role="button" asp-controller="Genres" asp-action="Index">
                            Genres
                        </a>
                        <div class="dropdown-menu" aria-labelledby="GenrePreview">
                            <p><a class="dropdown-item nav-link" asp-controller="Genres" asp-action="Create">Add Genre</a></p>
                            <p><a class="dropdown-item nav-link" asp-controller="Genres" asp-action="Index">List Genres</a></p>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="ActorPreview"
                           aria-haspopup="true" aria-expanded="false" role="button" asp-controller="Actors" asp-action="Index">
                            Actors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="GenrePreview">
                            <p><a class="dropdown-item nav-link" asp-controller="Actors" asp-action="Create">Add Actor</a></p>
                            <p><a class="dropdown-item nav-link" asp-controller="Actors" asp-action="Index">List Actors</a></p>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="DirectorPreview"
                           aria-haspopup="true" aria-expanded="false" role="button" asp-controller="Directors" asp-action="Index">
                            Director
                        </a>
                        <div class="dropdown-menu" aria-labelledby="DirectorPreview">
                            <p><a class="dropdown-item nav-link" asp-controller="Directors" asp-action="Create">Add Director</a></p>
                            <p><a class="dropdown-item nav-link" asp-controller="Directors" asp-action="Index">List Directors</a></p>
                        </div>
                    </li>
                    <li><a asp-controller="Home" asp-action="Help">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer> </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/movie-rating.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/movie-rating.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
